
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$material-3-demo-theme: mat.define-theme((
  color: (  
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ) 
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($material-3-demo-theme);

  --material-scale-ratio-neg1: 0.85;
  --material-scale-ratio-0: 1;
  --material-scale-ratio-1: 1.15;
  --material-scale-ratio-2: 1.3;

  button[mat-button],
  a[mat-button],
  button[mat-raised-button],
  a[mat-raised-button],
  button[mat-flat-button],
  a[mat-flat-button],
  button[mat-stroked-button],
  a[mat-stroked-button] {
    --app-button-scale-ratio: var(--material-scale-ratio-1);

    --mdc-text-button-container-height: calc(40px * var(--app-button-scale-ratio));
    --mat-text-button-horizontal-padding: calc(24px * var(--app-button-scale-ratio));
    --mdc-text-button-label-text-size: calc(0.875rem * var(--app-button-scale-ratio));
  
    --mdc-protected-button-container-height: calc(40px * var(--app-button-scale-ratio));
    --mat-protected-button-horizontal-padding: calc(24px * var(--app-button-scale-ratio));
    --mdc-protected-button-label-text-size: calc(0.875rem * var(--app-button-scale-ratio));
  
    --mdc-outlined-button-container-height: calc(40px * var(--app-button-scale-ratio));
    --mat-outlined-button-horizontal-padding: calc(24px * var(--app-button-scale-ratio));
    --mdc-outlined-button-label-text-size: calc(0.875rem * var(--app-button-scale-ratio));
  
    --mdc-filled-button-container-height: calc(40px * var(--app-button-scale-ratio));
    --mat-filled-button-horizontal-padding: calc(24px * var(--app-button-scale-ratio));
    --mdc-filled-button-label-text-size: calc(0.875rem * var(--app-button-scale-ratio));

    &.material-size-small {
      --app-button-scale-ratio: var(--material-scale-ratio-0);
    }

    &.material-size-large {
      --app-button-scale-ratio: var(--material-scale-ratio-2);
    }
  }

  button[mat-icon-button],
  a[mat-icon-button] {
    --app-icon-button-scale-ratio: var(--material-scale-ratio-1);

    --mdc-icon-button-state-layer-size: calc(40px * var(--app-icon-button-scale-ratio));
    --mdc-icon-button-icon-size: calc(24px * var(--app-icon-button-scale-ratio));

    & mat-icon {
      width: calc(24px * var(--app-icon-button-scale-ratio));
      height: calc(24px * var(--app-icon-button-scale-ratio));
      font-size: calc(24px * var(--app-icon-button-scale-ratio));
    }

    &.material-size-small {
      --app-icon-button-scale-ratio: var(--material-scale-ratio-0);
    }

    &.material-size-large {
      --app-icon-button-scale-ratio: var(--material-scale-ratio-2);
    }
  }

  button[mat-fab],
  a[mat-fab] {
    --app-fab-button-scale-ratio: var(--material-scale-ratio-0);

    --mdc-fab-small-container-shape: 9999px;
    --mdc-fab-container-shape: 9999px;

    width: calc(56px * var(--app-fab-button-scale-ratio));
    height: calc(56px * var(--app-fab-button-scale-ratio));

    & mat-icon {
      width: calc(24px * var(--app-fab-button-scale-ratio));
      height: calc(24px * var(--app-fab-button-scale-ratio));
      font-size: calc(24px * var(--app-fab-button-scale-ratio));
    }

    &.material-size-small {
      --app-fab-button-scale-ratio: var(--material-scale-ratio-neg1);
    }

    &.material-size-large {
      --app-fab-button-scale-ratio: var(--material-scale-ratio-1);
    }
  }

  button[mat-mini-fab],
  a[mat-mini-fab] {
    --app-mini-fab-button-scale-ratio: var(--material-scale-ratio-0);

    --mdc-fab-small-container-shape: 9999px;
    --mdc-fab-container-shape: 9999px;

    width: calc(40px * var(--app-mini-fab-button-scale-ratio));
    height: calc(40px * var(--app-mini-fab-button-scale-ratio));

    & mat-icon {
      width: calc(24px * var(--app-mini-fab-button-scale-ratio));
      height: calc(24px * var(--app-mini-fab-button-scale-ratio));
      font-size: calc(24px * var(--app-mini-fab-button-scale-ratio));
    }

    &.material-size-small {
      --app-mini-fab-button-scale-ratio: var(--material-scale-ratio-neg1);
    }

    &.material-size-large {
      --app-mini-fab-button-scale-ratio: var(--material-scale-ratio-1);
    }
  }

  mat-slide-toggle {
    --app-slide-toggle-scale-ratio: var(--material-scale-ratio-1);

    --mat-switch-label-text-line-height: calc(1.25rem * var(--app-slide-toggle-scale-ratio));
    --mat-switch-label-text-size: calc(0.875rem * var(--app-slide-toggle-scale-ratio));

    --mdc-switch-selected-icon-size: calc(16px * var(--app-slide-toggle-scale-ratio));
    --mdc-switch-unselected-icon-size: calc(16px * var(--app-slide-toggle-scale-ratio));

    --mdc-switch-track-width: calc(52px * var(--app-slide-toggle-scale-ratio));
    --mdc-switch-track-height: calc(32px * var(--app-slide-toggle-scale-ratio));

    --mat-switch-selected-handle-size: calc(24px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-selected-handle-horizontal-margin: 0 calc(24px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-pressed-handle-size: calc(28px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-selected-pressed-handle-horizontal-margin: 0 calc(22px * var(--app-slide-toggle-scale-ratio));
    
    --mat-switch-unselected-handle-size: calc(16px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-unselected-handle-horizontal-margin: 0 calc(8px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-unselected-pressed-handle-horizontal-margin: 0 calc(2px * var(--app-slide-toggle-scale-ratio));
    
    --mat-switch-with-icon-handle-size: calc(24px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-selected-with-icon-handle-horizontal-margin: 0 calc(24px * var(--app-slide-toggle-scale-ratio));
    --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 calc(4px * var(--app-slide-toggle-scale-ratio));

    --mat-switch-track-outline-width: calc(2px * var(--app-slide-toggle-scale-ratio));

    &.material-size-small {
      --app-slide-toggle-scale-ratio: var(--material-scale-ratio-0);
    }

    &.material-size-large {
      --app-slide-toggle-scale-ratio: var(--material-scale-ratio-2);
    }
  }
}

button.mat-secondary {
  @include mat.button-color($material-3-demo-theme, $color-variant: secondary);
}

button.mat-tertiary {
  @include mat.button-color($material-3-demo-theme, $color-variant: tertiary);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy($material-3-demo-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($material-3-demo-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
